#Allows git to look @ sub directories, but doesn't include them
/*
# Whitelist some files
!.gitignore
!README.md

# Ignore all files named .DS_Store or ending with .log
.DS_Store
**.log
# Include vim files
!.vimrc
!.vim
!.vim/*.*
!.viminfo
# Inlude NeoVim files
!/.config/nvim/
!/.config/nvim/*.vim
!/.config/nvim/.gitignore
# Include NyaoVim files
!.config/nyaovim
